.table_parent tr:nth-child(even){
  background-color: lightgray
}


.test_link{
  background-image: url('./eye.png');
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 25px;
  display: block;
  text-indent: -99999px;
}