@charset "UTF-8";
/* CSS Document */
html{
    padding: 0px;
    margin: 0px;
}
body{

	font-family: 'Roboto', sans-serif !important;
	font-weight:300 !important;
	letter-spacing: -.02em !important;
	background-color:#ebebeb !important;
	 padding: 0px !important;
    margin: 0px !important;
	font-size:1.5rem !important;
}

a{
	text-decoration: none;	
}


.header{
	background: #0768fa; /* Old browsers */
	background: -moz-linear-gradient(top, #0768fa 0%, #0fbdfd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0768fa 0%,#0fbdfd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0768fa 0%,#0fbdfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0768fa', endColorstr='#0fbdfd',GradientType=0 ); /* IE6-9 */
	color:#ffffff;
	display: block; 
	text-align: center;
	padding: 20px;
}

.header h1{
	font-weight: 100;
    padding: 0px;
    margin: 0;
    font-size: 2rem;
}


#root{
	display: block; 
	
}

.content-wrapper{
	padding: 3rem;
}


.dropdown{	
	position:absolute;
	left: 16px;
    top: 28px;
}

.nav_link{
	background-image: url(hamburger.png);
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 30px;
    text-indent: -999999px;
    display: block;
	
}

.dropdown.show .nav_link{
	background-image: url(hamburger_open.png);
}

input, textarea{
	background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.0);
    border: 0px;
    font-size: 2rem;
	display: block;
	padding: 10px;
	width: 95%;
}

textarea{
	min-height:300px; 
	font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: -.02rem;
}


label{
	margin-top: 30px;
    display: block;
}


button{
	
	background-color: rgb(68,68,68) !important;
	border-radius: 10px !important;
	box-shadow: 0px 1px 3px rgba(0,0,0,.2) !important;
	color:#ffffff;
	letter-spacing: .04rem;
	width: 93%;
    display: block;
    padding: 20px;
    font-size: 2rem !important;
    font-weight: 100;
    margin-top: 30px !important;
}

button:hover{
	opacity:.8;
	cursor: pointer;
}

.linerule{
	width:100%; 
	height:2px; 
	background-color:rgba(0,0,0,.1);
	margin-top: 40px;
    margin-bottom: 40px;
	display: block;
}


form.super{
	box-shadow:0px 0px 30px #0eb2fd;
	padding: 1px 30px 30px 30px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 40px;
}

form.super input{
	border:3px solid #0eb2fd;
	width: 93%;
}


.dropdown-menu{
	width:100%; 
	color:#ffffff;
	background: rgb(68,68,68); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(30,30,30,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(68,68,68,1) 0%,rgba(30,30,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
}


.dropdown-menu a{
	display: block; 
	color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,.2);
	
}

.item_display span{
	font-weight:600;
	display: block;
}

.item_display label{
	color:rgba(0,0,0,.6);
}


.item_display p{
	margin-top:0px;
}

.display_if_wide, .description{
	position: absolute;
	left: -9999em;
}

.table_heading{
	white-space: nowrap;
	text-align: left;
}
.description{
    margin-left: 20px;
    display: inline-block;
    padding-top: 22px;
}

.link_text{
	display: block;
	min-width: 250px;
}
.link_text a {
	color: darkblue;
}
.display_if_wide {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: no-wrap;
}

td {
	height: 80px;
}

@media (min-width: 700px){
	.display_if_wide,.description{
		position: relative;
		left: 0em;
	}
}

table{
	width: 95%;
}

.landing_text{
	font-size: 1.2rem;
    font-weight: 300;
	letter-spacing: -.02rem;
	margin-top: 20px;
}

a.dropdown-item{
	font-size: 1.5rem;
}

.table_parent tr:nth-child(even){
  background-color: lightgray
}

.logout{
	text-align: center;
}


.test_link{
  background-image: url('./eye.png');
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 25px;
  display: block;
  text-indent: -99999px;
}